<sayman-app-container justifyContent="center">
  <sayman-app-card-view>
    <ng-container header>
      <h2>Welcome to the Sayman, let's log you in!</h2>
    </ng-container>
    <ng-container body>
      <form class="login-form">
        <mat-form-field appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput type="text" name="email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password">
          <mat-hint align="end">Don't have an account yet? <a class="register-link"
              routerLink="/user/register">Register</a></mat-hint>
        </mat-form-field>
        <button mat-button type="submit">Login</button>
      </form>
    </ng-container>
  </sayman-app-card-view>
</sayman-app-container>