<sayman-app-container justifyContent="center">
  <sayman-app-card-view>
    <ng-container header>
      <h2>It'll be great to have you in Sayman, let's register you!</h2>
    </ng-container>
    <ng-container body>
      <form
        class="register-form"
        [formGroup]="signUpGroup"
        (ngSubmit)="handleRegister()"
      >
        <mat-form-field appearance="fill">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            name="username"
            formControlName="username"
          />
          <mat-error *ngIf="signUpGroup.controls.username.invalid">
            <sayman-app-form-error
              [control]="signUpGroup.controls.username"
              [errorMessages]="signUpFormErrorMessages.username"
            ></sayman-app-form-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Passoword</mat-label>
          <input
            matInput
            type="password"
            name="password"
            formControlName="password"
          />
          <mat-error *ngIf="signUpGroup.controls.password.invalid">
            <sayman-app-form-error
              [control]="signUpGroup.controls.password"
              [errorMessages]="signUpFormErrorMessages.password"
            ></sayman-app-form-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input
            matInput
            type="password"
            name="confirmPassword"
            formControlName="confirmPassword"
          />
          <mat-hint align="end"
            >You have an accout?
            <a class="login-link" routerLink="/user/login">Log in</a></mat-hint
          >
        </mat-form-field>
        <p
          class="general-form-error"
          *ngIf="
            signUpGroup.controls.confirmPassword.dirty &&
            signUpGroup?.errors?.fieldsNotMatched
          "
        >
          {{ signUpFormErrorMessages?.general?.fieldsNotMatched }}
        </p>
        <button
          mat-button
          type="submit"
          color="accent"
          [disabled]="signUpGroup.invalid"
        >
          Register
        </button>
      </form>
    </ng-container>
  </sayman-app-card-view>
</sayman-app-container>
