$app-primary: (
  50: #e9faee,
  100: #c9f3d5,
  200: #a5ebb9,
  300: #81e29d,
  400: #66dc88,
  500: #4bd673,
  600: #44d16b,
  700: #3bcc60,
  800: #33c656,
  900: #23bc43,
  A100: #f7fff9,
  A200: #c4ffcf,
  A400: #91ffa6,
  A700: #78ff91,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$app-secondary: (
  50: #e5e6e7,
  100: #bec2c3,
  200: #93999c,
  300: #677074,
  400: #475156,
  500: #263238,
  600: #222d32,
  700: #1c262b,
  800: #171f24,
  900: #0d1317,
  A100: #5bb9ff,
  A200: #28a3ff,
  A400: #008bf4,
  A700: #007dda,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$app-warn: (
  50: #fff4eb,
  100: #ffe4ce,
  200: #ffd2ae,
  300: #ffbf8d,
  400: #ffb274,
  500: #ffa45c,
  600: #ff9c54,
  700: #ff924a,
  800: #ff8941,
  900: #ff7830,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe7db,
  A700: #ffd6c2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
