@use '~@angular/material' as mat;
@import './colors.scss';

@include mat.core();

$primary: mat.define-palette($app-primary, 500);
$accent: mat.define-palette($app-secondary, A200, A100, A400);
$warn: mat.define-palette($app-warn, 500);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
  )
);

@include mat.all-component-themes($theme);
