<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-nav-list>
      <ng-container *ngIf="!(isAuthenticated$ | async)">
        <a mat-list-item routerLink="/user">Login</a>
        <a mat-list-item routerLink="/user/register">Register</a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <mat-toolbar color="primary" class="toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a class="header-font" id="banner" mat-button routerLink="/"
        >Sayman App</a
      >
      <div class="toolbar-links" [ngClass]="{ hidden: isHandset$ | async }">
        <ng-container *ngIf="!(isAuthenticated$ | async)">
          <a mat-button routerLink="/user">Login</a>
          <a mat-button routerLink="/user/register">Register</a>
        </ng-container>
        <ng-container *ngIf="isAuthenticated$ | async">
          <button mat-icon-button [matMenuTriggerFor]="userActionsMenu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #userActionsMenu="matMenu">
            <button mat-menu-item routerLink="/dashboard">Dashboard</button>
            <button mat-menu-item (click)="handleLogout()">
              <span>Log out</span>
            </button>
          </mat-menu>
        </ng-container>
      </div>
    </mat-toolbar>
    <div id="content-root">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
