.container {
  width: 100%;
  min-height: 100%;
}

::ng-deep snack-bar-container.internal-error-modal {
  border: 2px solid var(--app-warn-color);
  background-color: #f1f1f1;
  color: var(--app-warn-color);

  button {
    color: var(--app-warn-color);
  }
}
