.container {
  width: 100%;
  min-height: 100%;
}

::ng-deep snack-bar-container.app-snack-bar {
  background-color: var(--app-warn-color);

  &,
  button {
    color: var(--app-secondary-color);
  }
}
