.container {
  width: 100%;
  min-height: 100%;
}

::ng-deep snack-bar-container.internal-error-modal {
  border: 2px solid #f44336;
  background-color: #f1f1f1;
  color: #f44336;

  button {
    color: #f44336;
  }
}
